<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huazi.ssm.dao.UserMapper">
	<select id="findUserById" parameterType="int" resultType="User">
		select * from `user` where uid = #{uid}
	</select>
	<select id="findUserByName" parameterType="String" resultType="User">
		select * from `user` where pname = #{uname}
	</select>
	<resultMap type="User" id="findUserResultMap">
		<id column="uid" property="uid"/>
		<result column="uname" property="uname"></result>
		<result column="password" property="password"></result>
		<result column="sex" property="sex"></result>
		<result column="identity" property="identity"></result>
		<result column="pname" property="pname"></result>
	</resultMap>
	
	<sql id="sql_query_where">
		<!-- <if test="User!=null"> -->
			<if test="uname!=null and uname!=''">
				and uname=#{uname}
			</if>
			
		<!-- </if> -->
	</sql>
	<select id="findUser" resultType="User">
	select * from `user`
	</select>
	
	<insert id="insertUser" parameterType="User">
		insert into `user`(uname,password,sex,pname) values (#{uname},#{password},#{sex},#{pname}) 
	</insert>
	
	<delete id="deleteUser" parameterType="int">
		delete from `user` where uid=#{uid}
	</delete>
</mapper>